/* filepath: c:\Users\Alain-Diel\OneDrive\Bureau\Hack\community-center-web\src\components\Header.css */
header {
    background-color: #35424a;
    color: white;
    padding: 10px;
    text-align: center;
}